.contact_form {
    /* width: 100%;
    max-width: 750px; */
    width: 60%;
    height: 60%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr) 44px;
    grid-template-areas:
        "na na na na im im "
        "em em em em im im "
        "co co co co im im "
        "me me me me im im "
        "me me me me im im "
        "me me me me bu bu "
    ;
}
.name_section {
    grid-area: na;
}
.email_section {
    grid-area: em;
}
.company_section {
    grid-area: co;
}
.message_section {
    grid-area: me;
}
.submit_section {
    grid-area: bu;
}
.form_image {
    grid-area: im;
    /* background: var(--brand-950); */
    border-radius: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--border-clear);
    overflow: hidden;
}
.form_image > img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
.success_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.success_container > h3 {
    font-size: 2rem;
}