.page {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    height: 100svh;
    position: relative;
}
.grid {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: repeat(5, 1fr); */
    /* grid-template-rows: 30% 25% 20% 15% 10%; */
    grid-template-rows: repeat(15, 1fr);
    row-gap: 10px;
    grid-template-areas: 
        "a"
        "a"
        "a"
        "a"
        "a"
        "p"
        "p"
        "p"
        "t"
        "t"
        "t"
        "e"
        "e"
        "c"
        "c"
    ;
    height: 100%;
    position: relative;
    border: 1px solid darksalmon;
}
.section_skeleton {
    border-radius: 10px;
    position: relative;
    z-index: 2;

}
.section_skeleton.cell_1 {
    grid-area: a;
}
.section_skeleton.cell_2 {
    grid-area: p;
    
}
.section_skeleton.cell_3 {
    grid-area: t;
    
}
.section_skeleton.cell_4 {
    grid-area: e;
    
}
.section_skeleton.cell_5 {
    grid-area: c;
}
/* .section_content {
    position: absolute;
    width: 100%;
    height: 100%;
    border: var(--border);
    background: none;
    border-radius: 10px;
    padding: 1rem;
} */
.inner_content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 10px;
    transition: all .3s;
    background: var(--base);
    border: 1px solid var(--grey);
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.section_title {
    position: absolute;
    left: .8rem;
    top: .8rem;
    font-size: 48px;
    font-size: 2.2em;
    /* padding: 3px 9px; */
    /* background: var(--base); */
    /* border-radius: 10px; */
    z-index: 2;
}
.button_container {
    position: absolute;
    bottom: .8rem;
    right: .8rem;
}
.opened {
    z-index: 10;
}
/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    border: var(--border);
    border-radius: 10px;
}
.logo {
    font-size: 1.75rem;
    font-weight: 900;
    color: var(--black);
}
.header_right {
    display: flex;
    gap: 5px;
}
.language_container {
    display: flex;
    gap: 10px;
    position: relative;
}
.button {
    background: none;
    border: none;
    color: var(--grey-200);
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    transition: all .2s;
}
.button.selected {
    color: var(--black);
}
.current {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background: var(--black);
    transition: width 0.4s ease, left 0.4s ease;
    z-index: 10;
}
.divider {
    min-height: 100%;
    width: 1px;
    background: var(--grey);
}
.icons_container {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* NAVBAR */
.navbar {
    overflow-x: scroll;
    scrollbar-width: none;
    /* border: 1px solid red; */
    height: fit-content;
    padding-bottom: 11px;
}
.navbar_list {
    list-style: none;
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
}
.navbar_item {
    font-size: 1.5rem;
    color: var(--grey-200);
    text-wrap: nowrap;
    padding: .4rem .8rem;
    border: 1px solid var(--grey-200);
    border-radius: 10px;
}
.navbar_item.selected {
    background: var(--brand);
    color: var(--white);
}
.section {
    display: flex;
    gap: 10px;
    border: var(--border);
    padding: 10px;
    border-radius: 10px;
    justify-content: flex-start;
}
.section_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.section_title {

}
.section_button_container {

}