.wrapper {
    position: relative;
    overflow: hidden;
}
.project_container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 2.5%;
    gap: 2.5%;
    position: relative;
    height: 100%;
    transform: translateY(calc(100% - 2.25rem));
    transition: transform .7s cubic-bezier(1,0,0,1);
}
.project_container.opened {
    transform: translateY(0%);
}
.wrapper:hover .project_container.E-COMMERCE, .wrapper:hover .project_container.URL_SHORTENER, .wrapper:hover .project_container.TEOXYS_TATTOO, .wrapper:hover .project_container.PIEDRA_PAPEL_O_TIJERA {
    transform: translateY(0%);
}
.project_img_container {
    width: 100%;
    aspect-ratio: 1/1.2;
    overflow: hidden;
    border: var(--border-clear);
    border-radius: 5px;
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    transition: opacity .7s cubic-bezier(1,0,0,1);
}
.wrapper:hover .project_img_container, .project_img_container.opened {
    display: initial;
    opacity: 1;
    visibility: visible;
}
@media (max-width: 1366px) {
    .project_img_container {
        display: none;
    }
    .wrapper:hover .project_img_container {
        display: none;
    }
    .wrapper:hover .project_img_container.opened{
        display: initial;
    }
}
.project_img_container > img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
.project_img_container > img.URL_SHORTENER {
    transform: translateY(-25%);
}
.project_img_container > img.TEOXYS_TATTOO {
    transform: translateY(-15%);
}
.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    height: 100%;
    gap: 1.25%;
}
.title_wrapper {
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    /* border: var(--border-clear); */
}
@keyframes title_movement {
    from {
        transform: translateX(100%)
    }
    to {
        transform: translateX(-100%)
    }
}
.title {
    font-weight: 900;
    font-size: 1.75rem;
    text-wrap: nowrap;
    animation: title_movement 5s linear infinite;
    display: inline-block;
    padding-right: 35%;
}
.desc {
    color: var(--grey-800);
}
.techs_container {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    height: fit-content;
}
.tech {
    font-size: 14px;
    color: var(--grey-600);
    background: var(--grey-100);
    border-radius: 20px;
    padding: 3px 6px;
    border: 0.5px solid var(--grey-300);
}
.links_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}