.wrapper {
    position: relative;
    overflow: hidden;
}
.project_container {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    align-items: center;
    padding: 10px;
    position: relative;
    height: 100%;
    transform: translateY(90%);
    transition: transform .7s cubic-bezier(1,0,0,1);
}
.wrapper:hover .project_container.E-COMMERCE, .wrapper:hover .project_container.URL_SHORTENER, .wrapper:hover .project_container.TEOXYS_TATTOO, .wrapper:hover .project_container.PIEDRA_PAPEL_O_TIJERA {
    transform: translateY(0%);
    /* background-image: url("/ecommerce.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 50% 50%; */
}
/* .wrapper:hover .project_container.URL_SHORTENER {
    background-image: url("/urlshortener.png");
}
.wrapper:hover .project_container.TEOXYS_TATTOO {
    background-image: url("/teoxys-tattoo.png");
}
.wrapper:hover .project_container.PIEDRA_PAPEL_O_TIJERA {
    background-image: url("/ppt.png");
} */
/* .project_container.hovering {
    transform: translateY(0%);
} */
.title_wrapper {
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    box-sizing: border-box;
}
@keyframes title_movement {
    from {
        transform: translateX(100%)
    }
    to {
        transform: translateX(-100%)
    }
}
.title {
    font-weight: 900;
    font-size: 30px;
    text-wrap: nowrap;
    animation: title_movement 4s linear infinite;
    display: inline-block;
    padding-right: 10%;
}
.desc {

}
.techs_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: .8rem;
    left: .8rem;
    /* transform: translateY(-50%); */
    gap: 10px;
}
.tech_container {
    width: 3rem;
    height: 3rem;
}
.tech {
    width: 100%;
    height: auto;
}
.links_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}