.main {
    display: grid;
    /* border: 1px solid var(--red); */
    border-radius: 20px;
    width: 100%;
    height: 100%;
    gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas: 
        "p p p p p p p a a a a a"
        "p p p p p p p a a a a a"
        "p p p p p p p a a a a a"
        "p p p p p p p a a a a a"
        "p p p p p p p a a a a a"
        "p p p p p p p a a a a a"
        "p p p p p p p a a a a a"
        "t t t t t t t c c c c c"
        "t t t t t t t c c c c c"
        "t t t t t t t c c c c c"
        "t t t t t t t f f f f f"
        "t t t t t t t f f f f f"
    ;
}
/* .main.complete {
    grid-template-areas:
        "com com com com com com com com com com com com"
        "com com com com com com com com com com com com"
        "com com com com com com com com com com com com"
        "com com com com com com com com com com com com"
        "com com com com com com com com com com com com"
        "com com com com com com com com com com com com"
        "com com com com com com com com com com com com"
        "com com com com com com com com com com com com"
        "com com com com com com com com com com com com"
        "com com com com com com com com com com com com"
        "com com com com com com com com com com com com"
        "com com com com com com com com com com com com"
    ;
} */
/* TEST */ 
.cell {
    border: 1px solid var(--grey);
    border-radius: 20px;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.cell.cell_1 {
    grid-area: p;
}
.cell.cell_2 {
    grid-area: a;
}
.cell.cell_3 {
    grid-area: t;
}
.cell.cell_4 {
    grid-area: c;
}
.cell.cell_5 {
    grid-area: f;
}