.hamburguer__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 4px);
    row-gap: 8px;
    align-items: center;
    justify-content: space-between;
    width: 42px;
    cursor: pointer;
    transition: all .2s;
    justify-self: flex-end;
    background: none;
    border: none;
}
.hamburguer__bar {
    background: #000;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    width: 50%;
    transition: all .2s;
}
.hamburguer__bar:first-child {
    grid-row: 1;
}
.hamburguer__bar:nth-child(2) {
    grid-row: 2;
    width: 100%;
}
.hamburguer__bar:last-child {
    grid-row: 3;
    justify-self: flex-end;
}
.hamburguer__bar.hovered {
    width: 100%;
}
/* HAMBURGUER MENÚ */
.hamburguer__menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background);
    z-index: 1000;
    padding: 15px;
    gap: 40px;
}
.hamburguer__menu-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.close__menu-button {
    background: none;
    border: none;
    width: fit-content;
    height: fit-content;
}
.menu__me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.menu__me-img__container {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 50%;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 50px 8px 0 0;
    filter: saturate(0) contrast(1.7);
}
.menu__me-img {
    width: 75%;
    height: auto;
    object-fit: contain;
}
.menu__me-title {
    font-size: 32px;
    font-family: var(--font-secondary);
    font-weight: 500;
}
.menu__me-email {
    font-weight: 500;
    font-size: 18px;
}
.menu__list, .projects-list {
    list-style-type: none;
    width: 100%;
}
.menu__list__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 15px 0;
    font-size: 24px;
    font-weight: 600;
    border-bottom: solid 1px black;
    overflow: hidden;
    transition: all .3s;
}
.menu__list__item:last-child, .menu__list__item:nth-child(2) {
    border-bottom: none;
}
.menu__list__item:nth-child(2) {
    padding-bottom: 0;
}
.menu__list__item:nth-child(3) {
    border-top: solid 1px black;
}
.menu__projects {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    border: none;
    background: none;
    font-family: var(--font-main);
    z-index: 500;
}
.button__arrow {
    transition: all .3s;
}
.button__arrow.opened {
    transform: rotate(0deg);
}
.dropdown-wrapper {
    
}
/* LISTA */
.project-container {
    display: flex;
    justify-content: space-between;
}
.project-title {
    font-size: 18px;
    font-weight: 600;
    color: #32363E;
}
.project-links {
    display: flex;
    gap: 5px;
}
.list-item {
    border-bottom: solid 1px black;
    padding: 10px;
}
.list-item:last-child {
    border-bottom: none;
}
.list-item>h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.span {
    display: flex;
    align-items: center;
    transition: all .2s;
}
.span.dropped {
    transform: rotate(90deg);
}
.item-title {
    font-size: 24px;
    cursor: pointer;
}
.item-desc {
    opacity: 0;
    max-height: 0;
    transition: opacity 0.2s ease, max-height 0.2s ease, margin-top 0.2s ease;
}
.show-desc {
    opacity: 1;
    max-height: 200px; /* ajusta la altura máxima según sea necesario */
    margin-top: 10px;
}
.closed {
    display: none;
}