.logo__container {
    display: grid;
    grid-template-columns: auto 4px auto;
    grid-template-rows: 1fr;
    gap: 5px;
    width: 42px;
    height: 50px;
}
.logo__bar {
    background: #000;
    width: 100%;
    height: 4px;
    border-radius: 2px;
}
.logo__bar:first-child {
    grid-column: 1;
    margin-top: 10px;
}
.logo__bar:last-child {
    grid-column: 3;
    margin-top: 10px;
}
.logo__bar:nth-child(2) {
    height: 100%;
}