.loading {
    display: flex;
    justify-content: center;
    color: var(--white);
}
@keyframes loading {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
.dot {
    color: var(--white);
    animation: loading 1s infinite;
}
.dot:nth-child(2) {
    animation-delay: .2s;
}
.dot:last-child {
    animation-delay: .4s;
}
@media (max-width: 768px) {
    .loading {
        font-size: 14px;
    }
}