
/* CONTACT */
.contact_container.opened {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    gap: .5rem;
    align-items: center;
    justify-items: center;
    height: 100%;
}
.contact_desc {
    text-align: center;
}
.contact_container {
    width: 100%;
}
.mail {
    background: none;
    border: none;
    font-weight: 700;
    text-align: left;
    display: flex;
    align-items: center;
    gap: .2rem;
    font-size: 1rem;
}