.inner_content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 20px;
    transition: all .3s;
    background: var(--base);
    border: 1px solid var(--grey);
    overflow: hidden;
}
.section_title {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 48px;
}
.button_container {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
/* @keyframes zindex {
    from {
        z-index: 10;
    }
    to {
        z-index: 1;
    }
} */
.opened {
    z-index: 10;
}