/* WELCOME SECTION */
@keyframes waving {
    0%, 100% {
        transform: rotate(-40deg);
    }
    50% {
        transform: rotate(-20deg);
    }
}
.waving__animation {
    animation: waving .4s infinite;
    font-size: 24px;
}
.welcome-section {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    position: relative;
    padding-top: 100px;
    .welcome-p-container {
        display: flex;
        align-items: flex-end;
        text-align: center;
    }
    .welcome__p {
        
    }    
    .welcome__title-container {
        display: flex;
        flex-direction: column;
    }
    .welcome__title {
        font-family: "Big Shoulders Display";
        font-weight: 900;
        font-size: 96px;
        line-height: 84px;
        text-align: center;
    }
    @media (min-width: 1280px) {
        .welcome__title {
            font-size: 200px;
            line-height: 170px;
            letter-spacing: 10px;
        }
        .welcome__location {
            display: flex;
            flex-direction: row;
        }
    }
    .welcome__title__span {
        color: #f5f5f5;
        -webkit-text-stroke-color: #000;
        -webkit-text-stroke-width: 2px;
    }
    .welcome__location {
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: flex-start;
    }
    .welcome__pic {
        max-width: 220px;
        filter: saturate(0) contrast(1.7);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -25%);
        z-index: -1;
        mask-image: linear-gradient(
            black 80%,
            transparent
        );
    }
    .welcome-buttons-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 500;
        gap: 20px;
        padding-top: 170px;
    }
}
@media (min-width: 1280px) {
    .welcome-section {
        padding: 0 200px;
        margin-top: 0px;
        height: calc(100vh - 80px);
        justify-content: center;
    }
    .welcome__pic {
        max-width: 220px;
        filter: saturate(0) contrast(1.7);
        position: relative;
        margin-top: -50px;
        mask-image: linear-gradient(
            black 80%,
            transparent
        );
    }
}

/* TECHS SECTION */
.techs-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    .techs-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, auto);
        gap: 15px;
    }
}
@media (min-width: 1280px) {
    .techs-section {
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .techs-container {
        max-width: 800px;
    }
}

/* PROJECTS SECTION */
.projects-section {
    height: 100vh;
    .projects-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}
@media (min-width: 1280px) {
    .projects-section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;
        .projects-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            max-width: 800px;
            min-height: 500px;
        }
    }
}

/* ABOUT ME SECTION */
.about__me-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 80px 0 300px 0;
    .about__me-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .about__me-buttons-container {
        display: flex;
        gap: 15px;
        z-index: 2;
    }
    .about__me-quote {
        font-family: "Big Shoulders Display";
        font-size: 48px;
        font-weight: 700;
        z-index: 2;
    }
    .about__me-quote span {
        color: var(--blue);
        z-index: 2;
    }
    .about__me-img {
        position: absolute;
        height: 50%;
        top: 50%;
        transform: translateY(-50%);
        mask-image: linear-gradient(
            black 80%,
            transparent
        );
        z-index: 1;
    }
}

/* CONTACT SECTION */
.contact-section {
    height: 100vh;
    text-align: center;
    .my__mail {
        font-size: 20px;
        font-weight: 600;
        color: var(--blue);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        cursor: pointer;
        transition: all .1s;
    }
    .my__mail:active {
        transform: scale(.97);
    }
    .contact__form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: flex-end;
        margin-top: 15px;
    }
    .success-container {
        background: var(--green-100);
        border: 3px solid var(--green);
        border-radius: 5px;
        box-shadow: 0 3px 0 0 var(--green-700);
        padding: 20px;
        height: 704px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: var(--green);
        font-size: 20px;
        gap: 20px;
    }
    .success-message {
        color: black;
    }
    .success-message>span {
        color: var(--blue);
        font-weight: 500;
        line-height: 50px;
    }
}
@media (min-width: 1280px) {
    .contact-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact__form, .success-container {
        width: 800px;
    }
}
.section-title {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    /* font-family: "Big Shoulders Display"; */
    /* letter-spacing: 3px; */
}
.welcome-section, .techs-section, .projects-section, .about__me-section, .contact-section {
    border: red solid 1px;
}